li{
	display: inline-block;
	height: 100px;
	width: 100px;
	
	margin-left: 60px;
	margin-top: 60px;
	border: 10px solid green;
}
li:hover{
	cursor: pointer;
}
.active{
	background-color: black;
	border-color: tomato;
	border-radius: 100%;
}



